.message-box{
    text-align: left;
    display: inline-flex;
    font-size: 15px;
    font-weight: 590;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    margin-bottom: 1vh;
    border-radius:   0 5vw 5vh 5vw ;
    padding: 2.5vh 2vw;
    padding-bottom: 3%;
    
    background-color: rgba(196, 255, 255, 0.932);
    box-shadow: 0.001vh 0.004vw 0.8vw 0.27vw #0505053d;

    overflow-wrap: break-word;
    width: fit-content;
    min-width: 5vw;
    max-width: 20vw;
}
.message-box > label{
    overflow-y: auto;
    overflow-x: auto;
}

.message-box-self{
    justify-self: right;
    margin-right: 1vh;
    margin-left: 70vh;
    direction: ltr;
    width: auto;
    border-radius: 5vh 5vw 0vh 5vw;
}