.message-input-box{
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: #636363c7;
    border-radius:  5vh 0vh 0vh 0;
    box-shadow: 0 0 10px 0.4px rgba(19, 4, 4,0.5) inset;
    width: 70%;
    height: 10vh;
    position:fixed;
    bottom:0%;
}
#message-input-text{
    font-size: 15px;
    width:20%;
    height: 80%;
    align-self: center;
    padding-left:2vw;
    border-radius: 2vh;
    background-color: #e2e2e2c9;
    transition: width 500ms ease-in;
    outline: none;
    border: 0;
    
}
#message-input-text:focus{
    width: 80%;
    
}